* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

:root {
    --darkgreen: rgb(43, 93, 95);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

header {
    margin: 0 auto;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.flags {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 450px;
}

.flags>img {
    width: 128px;
    height: 96px;
    margin: 10px;
}

.draggble {
    cursor: grab;
}

.dragging {
    opacity: 0.25;
}

.gameBoard {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 452px;
    width: 452px;
    border: 1px solid black;
}

.gameBoard>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

button {
    background-color: var(--darkgreen);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    width: 125px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#timer {
    font-size: 20px;
    margin: 5px;
}

#score {
    font-size: 20px;
    margin: 5px;
}

#message {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}