* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

#timer {
    font-size: 18px;
    margin: 3px;
}

#score {
    font-size: 18px;
    margin: 3px;
}

#message {
    font-size: 18px;
    font-weight: 700;
    margin: 3px;
}

button {
    background-color: darkgreen;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 125px;
    padding: 2px;
    margin: 3px;
}

button:hover {
    cursor:pointer;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 405px;
}

.flags > img {
    width: 112px;
    height: 84px;
    margin: 10px;
}

.draggble {
    cursor: grab;
}

.dragging {
    opacity: 0.25;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 405px;
    width: 405px;
}

.gameBoard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 135px;
    width: 135px;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

a:link {
    text-decoration: none;
}