* {
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

header {
    margin: 0 auto;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#timer {
    font-size: 20px;
    margin: 5px;
}

#score {
    font-size: 20px;
    margin: 5px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

button {
    background-color: darkgreen;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    width: 125px;
}

.flags {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
}

.flags>img {
    width: 112px;
    height: 84px;
    margin: 10px;
}

.draggble {
    cursor: grab;
}

.dragging {
    opacity: 0.25;
}

.gameBoard {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 407px;
    width: 407px;
    border: 1px solid black;
}

.gameBoard>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 135px;
    width: 135px;
    border: 1px solid black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}